data_release/
v_values.csv
v_matrix.rds
v_matrix.csv
u_values.csv
u_matrix.rds
u_matrix.csv
toy/v_values.csv
toy/u_values.csv
toy/toy_mat.csv.gz
toy/plot. pca .scree-plot.png
toy/plot. 2024-01-23 .scree-plot.png
toy/p.gen-cor.png
toy/p.gen-cor.pheatmap.png
toy/p.gen-cor.pdf
toy/interactive_heatmap_files/typedarray-0.1/typedarray.min.js
toy/interactive_heatmap_files/plotly-main-2.11.1/plotly-latest.min.js
toy/interactive_heatmap_files/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css
toy/interactive_heatmap_files/plotly-binding-4.10.3/plotly.js
toy/interactive_heatmap_files/jquery-3.5.1/jquery.min.map
toy/interactive_heatmap_files/jquery-3.5.1/jquery.min.js
toy/interactive_heatmap_files/jquery-3.5.1/jquery.js
toy/interactive_heatmap_files/jquery-3.5.1/jquery-AUTHORS.txt
toy/interactive_heatmap_files/htmlwidgets-1.6.4/htmlwidgets.js
toy/interactive_heatmap_files/crosstalk-1.2.1/scss/crosstalk.scss
toy/interactive_heatmap_files/crosstalk-1.2.1/js/crosstalk.min.js.map
toy/interactive_heatmap_files/crosstalk-1.2.1/js/crosstalk.min.js
toy/interactive_heatmap_files/crosstalk-1.2.1/js/crosstalk.js.map
toy/interactive_heatmap_files/crosstalk-1.2.1/js/crosstalk.js
toy/interactive_heatmap_files/crosstalk-1.2.1/css/crosstalk.min.css
toy/interactive_heatmap.html
toy/d_values.csv
toy.RData
d_values.csv
d_values.rds
dat/.DS_Store
dat/DarwinsArk_20221120_questions_formatted.csv
dat/DarwinsArk_gp-0.70_biallelic-snps_maf-0.001_geno-0.05_hwe-1e-20-midp-keep-fewhet_N-3465.grm.bin
dat/DarwinsArk_gp-0.70_biallelic-snps_maf-0.001_geno-0.05_hwe-1e-20-midp-keep-fewhet_N-3465.grm.id
dat/DarwinsArk_gp-0.70_biallelic-snps_maf-0.001_geno-0.05_hwe-1e-20-midp-keep-fewhet_N-3465.grm.N.bin
dat/DarwinsArk_gp-0.70_biallelic-snps_maf-0.001_geno-0.05_hwe-1e-20-midp-keep-fewhet_N-3465_ld-100-by-50-r2-0.8.bed
dat/DarwinsArk_gp-0.70_biallelic-snps_maf-0.001_geno-0.05_hwe-1e-20-midp-keep-fewhet_N-3465_ld-100-by-50-r2-0.8.bim
dat/DarwinsArk_gp-0.70_biallelic-snps_maf-0.001_geno-0.05_hwe-1e-20-midp-keep-fewhet_N-3465_ld-100-by-50-r2-0.8.fam
dat/DarwinsArk_gp-0.70_biallelic-snps_maf-0.001_geno-0.05_hwe-1e-20-midp-keep-fewhet_N-3465_ld-100-by-50-r2-0.8.ldscores.csv
example_ad_gwa.tsv
.Rhistory
final_phe_info.csv
final_z_matrix.csv
*.png
*.pdf
phate_output.csv
test.txt
.DS_Store
